.footer-style {
  background: #141414;
}
.footer-copy {
  background: black;
}

.link-color {
  color: darkgray;
  text-decoration: none;
}

.link-color:hover {
  color: darkgray;
  width: 2px;
}

.h5-color {
  color: white;
}
